<section class="border-white/20 border-b">
  <div class="mx-auto border-white/20 border-x max-w-7xl">
    <div class="p-8">
      <p class="text-white font-display uppercase text-3xl lg:text-6xl">
        MY GOALS
      </p>
    </div>
    <div
      class="text-white text-xs gap-3 gap-y-12 grid grid-cols-1 md:grid-cols-4 mx-auto p-8 sm:grid-cols-2 md:gap-y-0">
      
      <div>
        <div>
          <span class="text-white font-display text-xl">Learning:</span>
        </div>
        <ul class="mt-3 text-eagle list-disc list-inside">
            • Continual Learning and Growth. <br>
            • Committed to continuous learning to stay adaptable in the fast-evolving fields of engineering. <br>
            • Aiming for a broad perspective, enhancing problem-solving abilities.
        </ul>
      </div>
      
      <div>
        <div>
          <span class="text-white font-display text-xl">Excellence:</span>
        </div>
        <ul class="mt-3 text-eagle list-disc list-inside">
          • Delivering high-quality, impactful solutions.<br>
          • Aiming to exceed expectations and deliver high-quality work.<br>
          • Seeking to optimize solutions for greater efficiency.
        </ul>
      </div>
      
      <div>
        <div>
          <span class="text-white font-display text-xl">Sustainability:</span>
        </div>
        <ul class="mt-3 text-eagle list-disc list-inside">
          • Building for the future with innovation and responsibility.<br>
          • Ready to drive a positive environmental impact through solutions.<br>
          • Passionate about contributing to sustainability outcomes.
        </ul>
      </div>
      
      <div>
        <div>
          <span class="text-white font-display text-xl">Connect:</span>
        </div>
        <ul class="mt-3 text-eagle list-disc list-inside">
          • Building meaningful relationships in tech.<br>
          • Encourage diverse perspectives, creating exceptional results.<br>
          • Share and collaboratively develop ideas.
        </ul>
      </div>
    </div>
  </div>
</section>
