---
import { Image } from 'astro:assets';
import p1 from 'src/assets/images/p1.png';
import p2 from 'src/assets/images/p2.png';
import p3 from 'src/assets/images/p3.jpg';
import p4 from 'src/assets/images/p4.png';
---

<section class="border-b border-white/20 bg-accent-500">
  <div class="mx-auto max-w-7xl border-x border-white/20 px-8 py-12 gradient-grid">
    <div class="mx-auto">
      <h3 class="text-3xl font-display text-white uppercase">
        What I've been doing
      </h3>
    </div>
  </div>
</section>

<section class="border-b border-white/20 bg-accent-500">
  <div class="mx-auto max-w-7xl border-white/20 border-x">
    <section class="splide is-initialized splide--slide splide--ltr splide--draggable is-active"
      aria-label="Portfolio Projects" aria-roledescription="carousel">
      <div class="h-full splide__track" aria-live="polite" aria-atomic="true" aria-busy="false">
        <ul class="splide__list flex justify-between" role="presentation" style="gap: 0;">
          <!-- Research -->
          <li class="splide__slide w-1/5">
            <a href="/blog/research" class="block">
              <div class="text-white text-xs p-2 text-center">
                <span class="block font-semibold">Research</span>
              </div>
              <Image src={p2} alt="Research" class="w-full h-full object-cover object-center bg-white border-t border-black"  />
            </a>
          </li>
          <!-- Hobbies -->
          <li class="splide__slide w-1/5">
            <a href="/blog/hobbies" class="block">
              <div class="text-white text-xs p-2 text-center">
                <span class="block font-semibold">Hobbies</span>
              </div>
              <Image src={p1} alt="Hobbies" class="w-full h-full object-cover object-center bg-white border-t border-black"  />
            </a>
          </li>
          <!-- Cadets -->
          <li class="splide__slide w-1/5">
            <a href="/blog/cadets" class="block">
              <div class="text-white text-xs p-2 text-center">
                <span class="block font-semibold">Cadets</span>
              </div>
              <Image src={p3} alt="Cadets" class="w-full h-full object-cover object-center bg-white border-t border-black"  />
            </a>
          </li>
          <!-- Missions -->
          <li class="splide__slide w-1/5">
            <a href="/blog/expeditions" class="block">
              <div class="text-white text-xs p-2 text-center">
                <span class="block font-semibold">Expedition</span>
              </div>
              <Image src={p4} alt="Expeditions" class="w-full h-full object-cover object-center bg-white border-t border-black" />
            </a>
          </li>
        </ul>
      </div>
    </section>
  </div>
</section>
